button {
    margin: 30px;
    position: relative;
    margin-left: 200px;
    padding: 10px 20px;
}

input {
    display: block;
    padding: 5px;
    width: 250px;
    align-items: center;
    margin: 5px;
    position: relative;
    margin-left: 20px;
}

label {
    margin: 5px;
}

#init{
   margin-top: 120px;
}

