/*button {
    margin: 30px;
    position: relative;
    margin-left: 250px;
    margin-top: 5px;
    padding: 5px 10px;
}*/

.jumbotron{
    margin-top: 100px;
}

.input-group {
   
    width: 250px;
    margin: 0 auto;
       
}

label {
    margin: 0 auto;
}

#init{

   margin-top: 100px;
   padding: 10px;
   margin-bottom: 100px;
   margin-right: 150px;
   align-items:  center;
}

#error_email, #error_username{
    position: relative;
    top : 250px;
    width: 100%;
    padding: 15px;
    margin-bottom: 100px;
    text-align: center;

 
}

#login{
    position: relative;
    left: 140px;
}



    
