<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Nombre de la Aplicación </title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    {% block script %}

    {% endblock %}
</head>
<body>
<div class="container">

    {% block content %}
        <a href = "{% url 'login' %}"> <button>Login</button></a>
        <a href = "{% url 'registro' %}"> <button>Registro</button></a>
    {% endblock %}
</div>
    {% block button %}
    {% endblock %}
</body>
</html>