{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block script %}
<script type="text/javascript" src="{% static 'js/validateLogin.js' %}"></script>

{% endblock %}

{% block content %}
    <form  role = "form" action="" method="POST">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class = "container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class = "jumbotron">

                        <div class="input-group">
                            <label> Email </label>
                            <input class = "form-control" type="Email" name="Email" id = "id_email" placeholder="ej: nombre@ejemplo.com">
                        </div>

                        <div class = "input-group">
                            <br>
                            <label> Password </label>
                        </div>
                        <div class="input-group">
                            <div class="input-group"><input class= "form-control" type="Password" name="Password" id = "id_password">
                            <span id = "show-hide-passwd" action="hide" class = "input-group-addon glyphicon glyphicon-eye-open"></span>
                        </div>
                        </div>

                        <div >

                            <br>
                            <a href="#">¿Olvidó su contraseña?</a><br>
                            <a href="{% url 'forgot_username' %}">¿Olvidó su username?</a>
                            <button id = "login" type="submit" name="button">Login</button>


                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-md-12">
                    <div  class = "error" id = "error_email"></div>
                </div>
            </div>

        </div>
    </form>
{% endblock %}