{% extends "base.html" %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                {% for field in form %}
                <div>
                    <label> {{ field.label }}</label>
                    <span>{{ field }}</span>
                </div>

                <button type="submit" name="button">Login</button>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </form>
{% endblock %}