{% extends "base.html" %}
{% load static %}

{% block script %}
<script type="text/javascript" src="{% static 'js/validateLogin.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
             <div class="jumbotron">


                 <div class="input-group">
                     <label> Username o Email </label>
                     {{ form.username }}
                 </div>

                 <div class="input-group">
                     <br>
                 <label for = "form-group "> Password </label>
                 <div class="input-group">
                     {{ form.password }}
                     <span id = "show-hide-passwd" action="hide" class = "input-group-addon glyphicon glyphicon-eye-open"></span>
                 </div>
                 </div>

                 <div >
                     <br>
                     <a href="#">¿Olvidó su contraseña?</a><br>
                     <a href="{% url 'forgot_username' %}">¿Olvidó su username?</a>
                     <button id = "login" type="submit" name="button">Login</button>
                  </div>
             </div>

            </div>
            <div class="col-md-3">
            </div>
        </div>
    </form>
{% endblock %}