{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/validateLogin.js' %}"></script>
{% endblock %}

{% block content %}
    <div class = "container">
        <h2>Registro</h2>
        <h3 id = "sub">Nombre de la Aplicación</h3>
        <form action="" method="POST" id='form_id' data-validate-username-url="{% url 'validate_username' %}"
                    data-validate-email-url = "{% url 'validate_email' %}">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class = "form-group">
                        <label for = "name">Nombre: </label>
                        <span>{{form.first_name}}</span>
                    </div>

                     <div class = "form-group">
                         <label>Apellido: </label>
                         <span>{{form.last_name}}</span>
                     </div>

                     <div class="form-group">
                        <label>Email: </label>
                        <span>{{form.email}}</span>
                     </div>

                     <div class="form-group">
                        <label>Username: </label>
                        <span>{{form.username}}</span>
                     </div>

                     <div class="form-group">
                        <label>Contraseña: </label>
                         <div class="input-group" id = "passw">
                            {{form.password}}
                            <span id = "show-hide-passwd" action="hide"
                                  class = "input-group-addon glyphicon glyphicon-eye-open">
                            </span>
                         </div>
                     </div>

                     <div class="form-group">
                        <label>Por favor, repita la contraseña: </label>
                         <div class="input-group" id = "passw2">
                            {{form.password2}}
                            <span id = "show-hide-passwd2" action="hide"
                                  class = "input-group-addon glyphicon glyphicon-eye-open">
                            </span>
                         </div>
                     </div>
                    <button type="submit" name="button">Registrar</button>
                </div>
            </div>
        </form >
    </div>

    <div class = "container-fluid">
            <div class = "row">
                <div class = "col-md-12" id = "errors">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger" style="visibility: visible">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger" style="visibility: visible">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div  class = "alert alert-danger" id = "error_name"></div>
                    <div  class = "alert alert-danger" id = "error_lastname"></div>
                    <div  class = "alert alert-danger" id = "error_email"></div>
                    <div  class = "alert alert-danger" id = "error_username"></div>
                    <div  class = "alert alert-danger" id = "error_password"></div>
                    <div  class = "alert alert-danger" id = "error_password2"></div>
                </div>
            </div>
    </div>
{% endblock %}