{% extends "base.html" %}

    {% block content %}
        <div>
            <h2> Registro Exitoso! </h2>
            <p>Hola <b>{{usuario}}</b>, ¡Gracias por unirte a nuestra Aplicación! </p>
            <br>
             <a href="http://{{host}}/activate/{{key}}"><button type="button">Haz click aqui para completar tu registro</button></a>

            <div>
                <h5>
                    Este link estará activo por 24hrs, pasado este tiempo podrá generar otro código.
                </h5>
            </div>

        </div>
    {% endblock %}

    {% block button %}

    {% endblock %}



